* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(-90deg, #20374e, #264361);
  color: white;
}

.company-title .image-logo {
  width: 13rem;
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-size: 20px;
}

.navbar-links li:hover{
  background-color: #555;
}

.toggle-buttons {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-buttons .bars {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}



@media (max-width: 700px) {
  .toggle-buttons{
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    margin-top: 2rem;
  }
  .navbar li {
    text-align: center;
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .navbar-links li a {
    padding: .6rem 1rem;
}

.navbar-links.active {
    display: flex;
}
}